<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homeindex">

 
    
       <!-- 查询	组件 和业务 部署多少台主机 --> 
    <select id="queryHostCount" parameterType="map" resultType="hashMap">
			     SELECT COUNT(A.HOST_ID) HOSTCOUNT FROM (
			SELECT A.HOST_ID FROM DCF_HOST_DEPLOY A RIGHT JOIN   (
			
			 SELECT B.CLUSTER_ID FROM DCF_BUS_MAIN_CLUSTER A LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST B
			ON A.BUS_CLUSTER_ID  = B.BUS_CLUSTER_ID AND B.CLUSTER_PARENT_TYPE = #{CLUSTER_PARENT_TYPE}
			AND A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID} GROUP BY B.CLUSTER_ID)
			B ON A.CLUSTER_ID = B.CLUSTER_ID WHERE A.STATE = '1' GROUP BY A.HOST_ID)
			A
    </select>	
     <!-- 查询	业务集群进程多少个 --> 
    <select id="querybussProgramCount" parameterType="map" resultType="hashMap">
			    SELECT COUNT(1) PROGRAMCOUNT FROM DCF_TASK_PROGRAM A RIGHT JOIN    DCF_BUS_MAIN_CLUSTER B ON
			     A.BUS_CLUSTER_ID = B.BUS_CLUSTER_ID
                WHERE B.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID} AND A.RUN_STATE = '1'
    </select>	
    
     <!-- 查询	组件进程多少个 --> 
    <select id="queryassProgramCount" parameterType="map" resultType="hashMap">
			   SELECT COUNT(1) PROGRAMCOUNT FROM DCF_DEPLOY_INST_CONFIG A RIGHT JOIN (
      SELECT B.CLUSTER_ID FROM DCF_BUS_MAIN_CLUSTER A LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST B 
          ON A.BUS_CLUSTER_ID = B.BUS_CLUSTER_ID WHERE A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
             GROUP BY B.CLUSTER_ID	) B ON (B.CLUSTER_ID = A.CLUSTER_ID	 AND A.`STATUS` = 1)
    </select>	 
    
    
     <!-- 查询	业务集群进程多少个主机多少 --> 
    <select id="querybussProgramAndHost" parameterType="map" resultType="hashMap">
			     SELECT A.CLUSTER_ID,A.CLUSTER_NAME,IFNULL(C.PROGRAMCOUNT,0) PROGRAMCOUNT,IFNULL(B.HOSTCOUNT,0) HOSTCOUNT FROM (
				SELECT A.CLUSTER_ID,A.CLUSTER_NAME FROM (
				 SELECT A.CLUSTER_ID ,A.CLUSTER_NAME FROM DCF_SERVICE_TYPE A RIGHT JOIN (
				SELECT B.CLUSTER_ID FROM DCF_BUS_MAIN_CLUSTER A LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST B
							ON A.BUS_CLUSTER_ID  = B.BUS_CLUSTER_ID AND B.CLUSTER_PARENT_TYPE = '3'
							AND A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}) B ON A.CLUSTER_ID = B.CLUSTER_ID)
				A) A LEFT JOIN (
				SELECT C.CLUSTER_ID,COUNT(C.TASK_ID) PROGRAMCOUNT FROM
				DCF_TASK_PROGRAM C WHERE C.RUN_STATE ='1' GROUP BY C.CLUSTER_ID) C ON A.CLUSTER_ID = C.CLUSTER_ID
				LEFT JOIN (
				SELECT B.CLUSTER_ID,COUNT(B.ID) HOSTCOUNT FROM
				DCF_HOST_DEPLOY B WHERE B.STATE ='1' GROUP BY B.CLUSTER_ID) B ON A.CLUSTER_ID = B.CLUSTER_ID 
				WHERE  A.CLUSTER_ID IS NOT NULL
				ORDER BY A.CLUSTER_NAME
			     
    </select>	   
    
    <!-- 查询	组件集群进程多少个主机多少 --> 
    <select id="queryassProgramAndHost" parameterType="map" resultType="hashMap">
			     SELECT A.CLUSTER_ID,A.CLUSTER_NAME,IFNULL(C.PROGRAMCOUNT,0) PROGRAMCOUNT,IFNULL(B.HOSTCOUNT,0) HOSTCOUNT FROM (
				SELECT A.CLUSTER_ID,A.CLUSTER_NAME FROM (
				 SELECT A.CLUSTER_ID ,A.CLUSTER_NAME FROM DCF_SERVICE_TYPE A RIGHT JOIN (
				SELECT B.CLUSTER_ID FROM DCF_BUS_MAIN_CLUSTER A LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST B
							ON A.BUS_CLUSTER_ID  = B.BUS_CLUSTER_ID AND B.CLUSTER_PARENT_TYPE = '1'
							AND A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}) B ON A.CLUSTER_ID = B.CLUSTER_ID)
				A) A LEFT JOIN (
				SELECT C.CLUSTER_ID,COUNT(C.INST_ID) PROGRAMCOUNT FROM
				DCF_DEPLOY_INST_CONFIG C WHERE C.`STATUS` ='1' GROUP BY C.CLUSTER_ID) C ON A.CLUSTER_ID = C.CLUSTER_ID
				LEFT JOIN (
				SELECT B.CLUSTER_ID,COUNT(B.ID) HOSTCOUNT FROM
				DCF_HOST_DEPLOY B WHERE B.STATE ='1' GROUP BY B.CLUSTER_ID) B ON A.CLUSTER_ID = B.CLUSTER_ID 
				WHERE  A.CLUSTER_ID IS NOT NULL
				ORDER BY A.CLUSTER_NAME
			     
    </select>	
    
    
      <!-- 查询	业务集群的  列表 --> 
    <select id="queryTopoList" parameterType="map" resultType="hashMap">
			 SELECT
				A.PROGRAM_CODE,
			  C.CLUSTER_CODE,
				A.PROGRAM_NAME,
				A.ID,
				A.TASK_ID
			FROM DCF_TASK_PROGRAM A  LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST B 
			ON (A.BUS_CLUSTER_ID = B.BUS_CLUSTER_ID AND B.CLUSTER_TYPE = 'JSTORM')
			 LEFT JOIN DCF_SERVICE_TYPE C ON B.CLUSTER_ID = C.CLUSTER_ID
			WHERE A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
			AND A.RUN_STATE = 1
			AND EXISTS (
				SELECT B.CLUSTER_ELE_TYPE
				FROM DCF_CLUSTER_ELE_DEFINE B
				WHERE A.PROGRAM_TYPE = B.CLUSTER_ELE_NAME
				AND B.CLUSTER_ELE_RUN_JSTORM = '1'
				AND B.CLUSTER_ELE_TYPE = '3'
			)
			GROUP BY A.PROGRAM_NAME
			     
    </select>	
  	
</mapper>
