<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roleConfigMapper">

    <!-- 插入角色 -->
    <insert id="insertRole" parameterType="hashMap">
	insert into
	DCF_BUS_ROLE (role_id, role_name,role_state,remark,crt_date)
	values(NEWID(),#{ROLE_NAME},#{ROLE_STATE},#{REMARK},CURRENT_TIMESTAMP)
    </insert>
    
    <!-- 角色查询   -->
    <select id="qeuryRole" parameterType="hashMap" resultType="hashMap">
	 SELECT ROLE_ID,
	        ROLE_NAME,
	        ROLE_STATE,
	        CASE ROLE_STATE WHEN '0' THEN '失效' ELSE '有效' END ROLE_STATE_NAME,
	        DATE_FORMAT(CRT_DATE, '%Y-%m-%d %H:%i:%s') CRT_DATE,
	        REMARK
	        FROM DCF_BUS_ROLE
	        <where>
		        <if test="ROLE_NAME != '' and ROLE_NAME != null">
		            AND ROLE_NAME LIKE CONCAT('%',#{ROLE_NAME},'%')
		        </if>
		        <if test="ROLE_ID != null">
		            AND ROLE_ID = #{ROLE_ID}
		        </if>
	        </where>
    </select>

    <!-- 删除员工的角色 -->
    <delete id="delEmpeeRole" parameterType="hashMap">
        DELETE FROM DCF_BUS_USER_ROLE WHERE ROLE_ID IN(#{ROLE_ID})
    </delete>

    <!-- 查询角色是否绑定了权限   -->
    <select id="queryRoleBindedPrivilege" parameterType="hashMap" resultType="hashMap">
		SELECT SUM(T.CNT) AS SUM
	    FROM (SELECT COUNT(*) CNT
		          FROM DCF_BUS_CONFIG_LIST
		         WHERE ROLE_ID IN 
		         <foreach collection="role_ids" item="item" separator="," open="(" close=")">
			       	#{item.ROLE_ID}
			    </foreach> 
		        UNION ALL
		        SELECT COUNT(*) CNT
		          FROM DCF_BUS_PROGRAM_LIST
		         WHERE ROLE_ID IN
		         <foreach collection="role_ids" item="item" separator="," open="(" close=")">
			       	#{item.ROLE_ID}
			    </foreach>
	         ) AS T
    </select>
    
    
    <!--删除角色业务配置 -->
    <delete id="delRoleBusConfig" parameterType="hashMap">
        DELETE FROM DCF_BUS_CONFIG_LIST WHERE ROLE_ID IN(#{ROLE_ID})
    </delete>

    <!--删除角色业务程序实例配置 -->
    <delete id="delRoleBusProgram" parameterType="hashMap">
        DELETE FROM DCF_BUS_PROGRAM_LIST WHERE ROLE_ID IN(#{ROLE_ID})
    </delete>

    <!-- 删除角色 -->
    <delete id="delRole" parameterType="hashMap">
        DELETE FROM DCF_BUS_ROLE WHERE ROLE_ID IN(#{ROLE_ID})
    </delete>

    <!-- 更新角色 -->
    <update id="updateRole" parameterType="hashMap">
        UPDATE DCF_BUS_ROLE
        SET ROLE_NAME=#{ROLE_NAME},REMARK=#{REMARK},ROLE_STATE=#{ROLE_STATE}
        WHERE ROLE_ID=#{ROLE_ID}
    </update>

   
   
</mapper>









