<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskProgram">
    <!-- 查询任务列表 --> 
    <select id="queryProgramList" parameterType="map" resultType="hashMap">
  	SELECT A.PROGRAM_ID,
		A.HOST_ID,
		A.TASK_ID,
		A.TASK_CODE,
		A.PROGRAM_CODE,
		A.PROGRAM_NAME,
		A.RUN_STATE_DESC,
		A.RUN_STATE,
		A.CRT_DATE,
		H.HOST_IP
		FROM (
			SELECT T.*,C.PROGRAM_NAME FROM(
				SELECT D.ID PROGRAM_ID, D.HOST_ID,D.TASK_ID,A.TASK_CODE,D.PROGRAM_CODE,
					CASE D.RUN_STATE WHEN  1 THEN '运行中' WHEN 0 THEN '未运行'  END RUN_STATE_DESC, 	
					D.RUN_STATE,D.CRT_DATE
				FROM DCF_TASK_PROGRAM D LEFT JOIN DCF_DEPLOY_TASK A
				  ON D.TASK_ID = A.TASK_ID
			WHERE A.CLUSTER_TYPE = #{CLUSTER_TYPE})T 
			LEFT JOIN DCF_PROGRAM C ON T.PROGRAM_CODE = C.PROGRAM_CODE
		) A, DCF_HOST H
	    WHERE  A.HOST_ID =H.HOST_ID
      <if test="TASK_ID != null and TASK_ID != ''">  
          AND A.TASK_ID = #{TASK_ID}
      </if>
      <if test="RUN_STATE != null and RUN_STATE != ''">  
          AND A.RUN_STATE = #{RUN_STATE}
      </if>
      <if test="PROGRAM_CODE != null and PROGRAM_CODE != ''">  
          AND A.PROGRAM_CODE = #{PROGRAM_CODE}
      </if>  
    </select>	
    
    <!-- 按照集群查询正在运行的rent/billing的程序 -->
    <select id="queryRunningProgramList" parameterType="map" resultType="hashMap">
    	SELECT A.*,S.ACTION_FLAG,
    		CASE WHEN @pro=A.PROGRAM_GROUP THEN @rownum := @rownum+1 ELSE @rownum :=1 end ROWNUM ,  @pro:=A.PROGRAM_GROUP 
    	FROM (
                        SELECT T.TASK_ID,
                                T.TASK_CODE,
                                T.CLUSTER_TYPE,
                                P.ID,
                                P.CLUSTER_ID,
                                P.PROGRAM_CODE,
                                T.CRT_DATE,
                                P.RUN_STATE,
                                J.PROGRAM_GROUP,
                                D.NAME PACKAGE_NAME,
                                K.CLUSTER_CODE,
                                D.PACKAGE_TYPE
                        FROM DCF_PROGRAM_DEFINE J, DCF_TASK_PROGRAM P 
               		LEFT JOIN DCF_DEPLOY_TASK T ON T.TASK_ID=P.TASK_ID
               		LEFT JOIN DCF_FTP_FILE_SERVER D ON (T.SERVER_ID = D.ID)
					LEFT JOIN DCF_SERVICE_TYPE K ON (P.CLUSTER_ID = K.CLUSTER_ID)
                WHERE P.PROGRAM_CODE = J.PROGRAM_CODE
           		<if test="PROGRAM_GROUP != null and PROGRAM_GROUP != ''">
                	AND J.PROGRAM_GROUP = #{PROGRAM_GROUP}
                </if>
                <if test="RUN_STATE != null and RUN_STATE != ''">
                    AND P.RUN_STATE=#{RUN_STATE}
                </if>
                <if test="searchValue != null and searchValue != ''">
                	AND P.PROGRAM_CODE LIKE CONCAT('%', #{searchValue}, '%')
                </if>
                AND K.CLUSTER_CODE IS NOT NULL
                <!-- 根据Jstorm集群ID查询关联业务集群ID列表 -->
                AND P.CLUSTER_ID IN (SELECT CLUSTER_ID FROM DCF_BUS_RELATION_CLUSTER_LIST WHERE BUS_CLUSTER_ID = #{BUS_CLUSTER_ID})
                <choose>
	                <when test="ID != null and ID != ''">
	                    AND P.ID !=#{ID}
	                    AND T.CLUSTER_TYPE = #{CLUSTER_TYPE}
	                    <if test="PROGRAM_CODE != null and PROGRAM_CODE != ''">
	                    	AND P.PROGRAM_CODE = #{PROGRAM_CODE}
	                    </if>
	                </when>
	                <otherwise>
	                	AND (T.CLUSTER_TYPE IN (SELECT CLUSTER_ELE_NAME 
	                		FROM DCF_CLUSTER_ELE_DEFINE 
	                		WHERE CLUSTER_ELE_TYPE = '3' 
	                		  AND CLUSTER_ELE_RUN_JSTORM='1'))
	                </otherwise>
                </choose>
                  ORDER BY J.PROGRAM_GROUP ,T.CRT_DATE
                ) A  LEFT JOIN DCF_MASTER_STANDBY S ON A.PROGRAM_GROUP = S.TOPOLOGY_GROUP 
                          JOIN (SELECT @rownum:=0) R JOIN (SELECT @pro:='') O
    </select>
    
    
    <!-- 按照集群查询正在运行的rent/billing的程序 -->
    <select id="queryRunningProgramCount" parameterType="map" resultType="hashMap">
       	SELECT DISTINCT IFNULL(A.SUM,0) AS SUM, IFNULL(B.PROGRAM_MAX_COUNT, 0) AS MAX_COUNT,B.PROGRAM_CODE
		  FROM (SELECT COUNT(1) SUM, P.PROGRAM_CODE PROGRAM_CODE_TMP
          FROM DCF_TASK_PROGRAM P
          LEFT JOIN DCF_DEPLOY_TASK T
            ON T.TASK_ID = P.TASK_ID
         WHERE P.RUN_STATE = '1'
	       AND P.PROGRAM_CODE =  #{PROGRAM_CODE}
		   AND T.CLUSTER_TYPE = #{CLUSTER_TYPE}) A
		   RIGHT JOIN DCF_PROGRAM_DEFINE B
		    ON A.PROGRAM_CODE_TMP = B.PROGRAM_CODE
		   WHERE  B.PROGRAM_CODE = #{PROGRAM_CODE}
    </select>
    
    <select id="queryRouteOrOtherProgramCount" parameterType="map" resultType="hashMap">
     	select COUNT(1) SUM from DCF_TASK_PROGRAM 
     	where HOST_ID=#{HOST_ID} 
     	  and PROGRAM_CODE=#{PROGRAM_CODE} 
     	  and TASK_ID=#{TASK_ID}
     </select>
    
    <!-- 查询当前版本程序运行实例数量 -->
     <select id="queryBillingOrRentProgramCount" parameterType="map" resultType="hashMap">
     	select COUNT(1) SUM from DCF_TASK_PROGRAM 
     	where PROGRAM_CODE = #{PROGRAM_CODE} 
     	  AND TASK_ID = #{TASK_ID}
     	  AND CLUSTER_ID = #{CLUSTER_ID}
     </select>
   	
   	<!-- 查询程序配置文件使用 -->
   	<select id="queryProgramConfigList" parameterType="map" resultType="map">
   		SELECT GROUP_CONCAT(B.CONFIG_FILE) CONFIG_FILE_LIST, C.CLUSTER_ELE_PERSONAL_CONF, C.CLUSTER_ELE_RUN_JSTORM
   		FROM DCF_TASK_PROGRAM B JOIN DCF_CLUSTER_ELE_DEFINE C ON (B.PROGRAM_TYPE = C.CLUSTER_ELE_NAME)
		WHERE B.CLUSTER_ID = #{CLUSTER_ID}
		<if test="HOST_ID != null and HOST_ID != ''">
			AND B.HOST_ID = #{HOST_ID}
		</if>
		GROUP BY C.CLUSTER_ELE_PERSONAL_CONF,C.CLUSTER_ELE_RUN_JSTORM
   </select>
    
    <!-- 查询当前程序信息 -->
    <select id="queryTaskProgramListById" parameterType="map" resultType="map">
		SELECT  A.ID, A.CLUSTER_ID, A.PROGRAM_CODE, A.PROGRAM_NAME,
			A.HOST_ID, A.TASK_ID, A.RUN_STATE, A.CRT_DATE,
			B.VERSION
		FROM DCF_TASK_PROGRAM A LEFT JOIN DCF_DEPLOY_TASK B ON (A.TASK_ID = B.TASK_ID)
		WHERE A.CLUSTER_ID = #{CLUSTER_ID}
		  AND A.PROGRAM_CODE = #{PROGRAM_CODE}
		  AND A.SCRIPT_SH_NAME = #{SCRIPT_SH_NAME}
		  AND A.RUN_STATE = #{RUN_STATE}
		  <if test="ID != null and ID != ''">
			  AND A.ID = #{ID}
		  </if>
		  <if test="HOST_ID != null and HOST_ID != ''">
		  	AND A.HOST_ID = #{HOST_ID}
		  </if>
			<if test="TASK_ID != null and TASK_ID != ''">
			AND A.TASK_ID = #{TASK_ID}
			</if>
		<if test="PROGRAM_ALIAS != null and PROGRAM_ALIAS != ''">
			AND A.PROGRAM_ALIAS = #{PROGRAM_ALIAS}
		</if>
		<if test="PROGRAM_NAME != null and PROGRAM_NAME != ''">
			AND A.PROGRAM_NAME = #{PROGRAM_NAME}
		</if>
		<if test="LATN_ID != null and LATN_ID != ''">
			AND A.LATN_ID = #{LATN_ID}
		</if>
		ORDER BY B.VERSION*1 DESC
    </select>
    
    <!-- 查询业务程序列表 -->
    <select id="queryBusProgramListForStart" parameterType="map" resultType="map">
        SELECT A.ID, A.CLUSTER_ID, A.PROGRAM_CODE,A.PROGRAM_ALIAS,A.PROGRAM_DESC,A.CONFIG_FILE_PATH, A.PROGRAM_NAME,A.LATN_ID,CONCAT(D.CONFIG_NAME,'(',A.LATN_ID,')') LATN_NAME, A.PROGRAM_TYPE, A.SCRIPT_SH_NAME,
    		A.CONFIG_FILE, A.HOST_ID, A.TASK_ID, A.RUN_STATE, 
    		DATE_FORMAT(A.CRT_DATE,'%Y-%m-%d %H:%i:%s') AS CRT_DATE,
    		B.PROGRAM_GROUP, 
		    C.HOST_IP, C.SSH_USER
		FROM DCF_TASK_PROGRAM A LEFT JOIN DCF_PROGRAM_DEFINE B ON (A.PROGRAM_CODE = B.PROGRAM_CODE)
			LEFT JOIN DCF_HOST C ON (A.HOST_ID = C.HOST_ID)
		LEFT JOIN dcf_group_config D ON (A.LATN_ID = D.CONFIG_VALUE AND D.GROUP_CODE = 'LATN_LIST')
		WHERE A.CLUSTER_ID = #{CLUSTER_ID}
			<if test="HOST_ID != null and HOST_ID != ''">
				AND A.HOST_ID = #{HOST_ID}
			</if>
			<if test="QUERY_PROGRAM_NAME !=	null and QUERY_PROGRAM_NAME != ''">
				 
				AND (A.PROGRAM_NAME like  CONCAT('%', #{QUERY_PROGRAM_NAME}, '%')
				    OR A.PROGRAM_ALIAS like  CONCAT('%', #{QUERY_PROGRAM_NAME}, '%'))
			</if>
			<if test="QUERY_HOST_ID != null and QUERY_HOST_ID != ''">
				AND A.HOST_ID = #{QUERY_HOST_ID}
			</if>
			
			<if test="QUERY_HOST_IDS != null and QUERY_HOST_IDS != ''">
				AND A.HOST_ID IN (${QUERY_HOST_IDS})
			</if>
			
			<if test="QUERY_PROGRAM_STATE != null and QUERY_PROGRAM_STATE != ''">
				AND A.RUN_STATE = #{QUERY_PROGRAM_STATE}
			</if>
			<if test="QUERY_LATN_ID != null and QUERY_LATN_ID != ''">
				AND A.LATN_ID = #{QUERY_LATN_ID}
			</if>
			<if test="QUERY_LATN_IDS != null and QUERY_LATN_IDS != ''">
				AND A.LATN_ID IN (${QUERY_LATN_IDS})
			</if>
		ORDER BY A.PROGRAM_NAME ASC, INET_ATON(C.HOST_IP) ASC
    </select>
    
    <!-- 查询Topology列表信息 -->
    <select id="queryTopologyTaskList" parameterType="map" resultType="map">
    	SELECT A.ID, A.CLUSTER_ID, A.PROGRAM_CODE, A.PROGRAM_NAME, A.PROGRAM_TYPE, A.SCRIPT_SH_NAME,
    		A.CONFIG_FILE, A.HOST_ID, A.TASK_ID, A.RUN_STATE,A.LATN_ID,CONCAT(D.CONFIG_NAME,'(',A.LATN_ID,')') LATN_NAME, 
    		DATE_FORMAT(A.CRT_DATE,'%Y-%m-%d %H:%i:%s') AS CRT_DATE,
    		B.PROGRAM_GROUP
		FROM DCF_TASK_PROGRAM A LEFT JOIN DCF_PROGRAM_DEFINE B ON (A.PROGRAM_TYPE = B.PROGRAM_TYPE AND A.PROGRAM_CODE = B.PROGRAM_CODE)
		LEFT JOIN dcf_group_config D ON (A.LATN_ID = D.CONFIG_VALUE AND D.GROUP_CODE = 'LATN_LIST')
		
		WHERE A.CLUSTER_ID = #{CLUSTER_ID}
		<if test="CLUSTER_TYPE != null and CLUSTER_TYPE != ''">
			AND A.PROGRAM_TYPE = #{CLUSTER_TYPE}
		</if>
		<if test="TASK_ID != null and TASK_ID != ''">
			AND A.TASK_ID = #{TASK_ID}
		</if>
		<if test="QUERY_PROGRAM_NAME !=	null and QUERY_PROGRAM_NAME != ''">
				AND A.PROGRAM_NAME like  CONCAT('%', #{QUERY_PROGRAM_NAME}, '%')
			</if>
			 
			<if test="QUERY_PROGRAM_STATE != null and QUERY_PROGRAM_STATE != ''">
				AND A.RUN_STATE = #{QUERY_PROGRAM_STATE}
			</if>
			<if test="QUERY_LATN_ID != null and QUERY_LATN_ID != ''">
				AND A.LATN_ID = #{QUERY_LATN_ID}
			</if>
			
		ORDER BY A.PROGRAM_NAME ASC
    </select>
    
    <!-- 新增任务程序-->
    <insert id="insertTaskProgram" parameterType="hashMap">
    	INSERT INTO DCF_TASK_PROGRAM(ID, CLUSTER_ID, BUS_CLUSTER_ID, PROGRAM_CODE,PROGRAM_NAME,PROGRAM_TYPE,SCRIPT_SH_NAME,
    		CONFIG_FILE,CONFIG_FILE_PATH, HOST_ID, TASK_ID, RUN_STATE, CRT_DATE,PROGRAM_ALIAS,LATN_ID,PROGRAM_DESC)
		VALUES(NEWID(), #{CLUSTER_ID}, #{BUS_CLUSTER_ID}, #{PROGRAM_CODE},#{PROGRAM_NAME}, #{PROGRAM_TYPE}, #{SCRIPT_SH_NAME},
			#{CONFIG_FILE},#{CONFIG_FILE_PATH}, #{HOST_ID}, #{TASK_ID}, #{RUN_STATE}, NOW(),#{PROGRAM_ALIAS},#{LATN_ID},#{PROGRAM_DESC})
    </insert>

	<!-- 新增任务程序-->
	<insert id="insertTaskProgramWithNewId" parameterType="hashMap">
		INSERT INTO DCF_TASK_PROGRAM(ID, CLUSTER_ID, BUS_CLUSTER_ID, PROGRAM_CODE,PROGRAM_NAME,PROGRAM_TYPE,SCRIPT_SH_NAME,
		CONFIG_FILE,CONFIG_FILE_PATH, HOST_ID, TASK_ID, RUN_STATE, CRT_DATE,PROGRAM_ALIAS,LATN_ID,PROGRAM_DESC)
		VALUES(#{ID}, #{CLUSTER_ID}, #{BUS_CLUSTER_ID}, #{PROGRAM_CODE},#{PROGRAM_NAME}, #{PROGRAM_TYPE}, #{SCRIPT_SH_NAME},
		#{CONFIG_FILE},#{CONFIG_FILE_PATH}, #{HOST_ID}, #{TASK_ID}, #{RUN_STATE}, NOW(),#{PROGRAM_ALIAS},#{LATN_ID},#{PROGRAM_DESC})
	</insert>

	<!-- 查询运行在Topology中任务实例 -->
	<select id="queryTaskProgramRunTopology" parameterType="map" resultType="map">
		SELECT A.CLUSTER_ID, A.CLUSTER_NAME, A.CLUSTER_TYPE, A.CLUSTER_CODE, A.TYPE,
		B.ID TASK_PROGRAM_ID, B.PROGRAM_CODE, B.PROGRAM_NAME, B.PROGRAM_TYPE,B.TASK_ID,B.RUN_STATE,
		C.TASK_CODE, C.VERSION
		FROM DCF_SERVICE_TYPE A, DCF_TASK_PROGRAM B, DCF_DEPLOY_TASK C, DCF_CLUSTER_ELE_DEFINE D
		WHERE (A.CLUSTER_TYPE = D.CLUSTER_ELE_NAME AND D.CLUSTER_ELE_RUN_JSTORM= 1 AND  A.TYPE = '3')
		AND (A.CLUSTER_ID = B.CLUSTER_ID AND A.CLUSTER_TYPE = B.PROGRAM_TYPE)
		AND B.TASK_ID = C.TASK_ID
		<if test="BUS_CLUSTER_ID != null and BUS_CLUSTER_ID != ''">
			AND B.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
		</if>

		<!-- AND D.CLUSTER_ELE_RUN_JSTORM = '1' -->
		ORDER BY A.CLUSTER_TYPE, C.VERSION DESC
	</select>
    
    <!-- 删除任务下的程序-->
    <delete id="delProgramByTask" parameterType="hashMap">
         DELETE FROM DCF_TASK_PROGRAM WHERE TASK_ID=#{TASK_ID}
    </delete>
    
    <!-- 删除程序信息 -->
    <delete id="delProgramTask" parameterType="map">
    	DELETE FROM DCF_TASK_PROGRAM 
    	WHERE PROGRAM_CODE = #{PROGRAM_CODE}
    	  AND CLUSTER_ID = #{CLUSTER_ID}
    	  AND SCRIPT_SH_NAME = #{SCRIPT_SH_NAME}
		  <if test="HOST_ID != null and HOST_ID != ''">
				AND HOST_ID = #{HOST_ID}
		  </if>
		  <if test="PROGRAM_ALIAS != null and PROGRAM_ALIAS != ''">
			  AND PROGRAM_ALIAS = #{PROGRAM_ALIAS}
		  </if>
		<if test="PROGRAM_NAME != null and PROGRAM_NAME != ''">
			AND PROGRAM_NAME = #{PROGRAM_NAME}
		</if>
		<if test="LATN_ID != null and LATN_ID != ''">
			AND LATN_ID = #{LATN_ID}
		</if>
    </delete>
    
    <!-- 删除程序信息 -->
    <delete id="delProgramTaskByID" parameterType="map">
    	DELETE FROM DCF_TASK_PROGRAM 
    		WHERE ID = #{ID}
    </delete>
    
    <!-- 更新  运行状态-->
    <update id="updateProgramRunState" parameterType="hashMap">
    	UPDATE DCF_TASK_PROGRAM SET RUN_STATE = #{RUN_STATE},CRT_DATE=NOW()
	 	WHERE ID = #{ID}
    </update>
    
    <!-- 查询task下挂已运行的program个数 --> 
    <select id="queryProgramCountRun" parameterType="map" resultType="hashMap">
      SELECT COUNT(1) SUM FROM DCF_TASK_PROGRAM P WHERE P.RUN_STATE = 1 AND P.TASK_ID IN
      <foreach collection="ids" item="item" open="(" separator="," close=")">
      		#{item.TASK_ID}
      </foreach>
   </select>
   
    <!-- 查询task下挂program个数 ,为了删除业务程序包--> 
    <select id="queryServiceForDelete" parameterType="map" resultType="hashMap">
      SELECT COUNT(1) SUM FROM DCF_TASK_PROGRAM P WHERE P.RUN_STATE = 1 AND P.TASK_ID IN (
      		SELECT TASK_ID FROM DCF_DEPLOY_TASK WHERE SERVER_ID IN
		      <foreach collection="ids" item="item" open="(" separator="," close=")">
		      		#{item.ID}
		      </foreach>
      	)
   </select>
   
   <!-- 查询业务程序列表 -->
<!--    <select id="queryBusProgramList" parameterType="map" resultType="hashMap">
   		SELECT A.PROGRAM_ID,
   			   A.PROGRAM_CODE,
		       A.PROGRAM_NAME,
		       A.TASK_ID,
		       A.CONFIG_FILE,
		       A.SCRIPT_SH_NAME,
		       B.HOST_ID,
		       B.RUN_STATE,
		       C.HOST_IP
		  FROM (SELECT B.PROGRAM_ID, B.PROGRAM_CODE, B.PROGRAM_NAME,B.CONFIG_FILE,B.SCRIPT_SH_NAME,A.TASK_ID
		         FROM DCF_PROGRAM B
		          LEFT JOIN DCF_DEPLOY_TASK A ON B.PROGRAM_TYPE = A.CLUSTER_TYPE
		         WHERE B.PROGRAM_TYPE = #{CLUSTER_TYPE}
		           AND A.TASK_ID = #{TASK_ID}) A
		  	JOIN DCF_TASK_PROGRAM B ON (A.PROGRAM_CODE = B.PROGRAM_CODE AND A.TASK_ID=B.TASK_ID)
		  	<if test="HOST_ID != null and HOST_ID != ''">  
			    AND B.HOST_ID = #{HOST_ID}
           </if>
		    LEFT JOIN DCF_HOST C ON B.HOST_ID=C.HOST_ID
		  ORDER BY B.RUN_STATE DESC
   </select> -->
   
   <!-- 集群划分,删除业务类主机  -->
   <select id="queryProgramRunForClusterDeleted" parameterType="map" resultType="hashMap">
   		SELECT P.ID, P.CLUSTER_ID, P.PROGRAM_CODE
		  FROM DCF_TASK_PROGRAM P
		 WHERE P.RUN_STATE = 1
		   AND P.TASK_ID IN
		       (SELECT T.TASK_ID
		          FROM DCF_DEPLOY_TASK T
		         WHERE T.CLUSTER_TYPE = #{CLUSTER_TYPE} 
		         )
		   AND P.CLUSTER_ID = #{CLUSTER_ID}
		   AND P.HOST_ID = #{HOST_ID}
   </select>
   
    <!-- 删除任务下的程序-->
    <delete id="delProgramAboutCluster" parameterType="hashMap">
         DELETE FROM DCF_TASK_PROGRAM 
         WHERE TASK_ID IN(SELECT T.TASK_ID 
         				FROM DCF_DEPLOY_TASK T 
         				WHERE T.CLUSTER_TYPE = #{CLUSTER_TYPE})
		 AND CLUSTER_ID = #{CLUSTER_ID}
		 AND HOST_ID = #{HOST_ID}
    </delete>
   
   <!--根据进程ID查询对应的HOST_ID-->
<!--     <select id="queryhostByTaskIDOrNull" parameterType="map" resultType="hashMap">
          SELECT P.PROGRAM_CODE,
	       P.PROGRAM_NAME,
	       P.ID,
	       IFNULL(P.RUN_STATE, 0) RUN_STATE,
	       IFNULL(P.TASK_ID,#{TASK_ID}) TASK_ID,
	       D.HOST_ID,
	       D.HOST_IP,
	       D.HOST_NAME
	  FROM DCF_TASK_PROGRAM P
	 RIGHT JOIN (SELECT A.HOST_ID, B.HOST_IP, B.HOST_NAME
	               FROM DCF_HOST_DEPLOY A, DCF_HOST B
	              WHERE A.HOST_ID = B.HOST_ID
	                AND A.CLUSTER_ID = #{CLUSTER_ID}
	                AND A.CLUSTER_TYPE = #{CLUSTER_TYPE}
	                AND A.STATE='1') D
	    ON D.HOST_ID = P.HOST_ID
	    AND P.TASK_ID = #{TASK_ID}
	    AND P.PROGRAM_CODE =  #{PROGRAM_CODE}
    </select> -->
   
     <!--根据进程ID查询对应的HOST_ID-->
<!--     <select id="queryhostByTaskID" parameterType="map" resultType="hashMap">
          SELECT U.* FROM (
			SELECT  D.PROGRAM_CODE,
	      	 D.PROGRAM_NAME,
	       	 P.ID PROGRAM_ID,
	         IFNULL(P.RUN_STATE, 0) RUN_STATE,
       		 IFNULL(P.TASK_ID,#{TASK_ID}) TASK_ID,
         	 D.HOST_ID,
	       	D.HOST_IP,
	       	D.HOST_NAME,
		   	D.CLUSTER_ID
		 FROM DCF_TASK_PROGRAM P
		RIGHT JOIN (
			SELECT DISTINCT A.HOST_ID,C.PROGRAM_CODE,C.PROGRAM_NAME,A.HOST_IP, 
				A.HOST_NAME,E.CLUSTER_ID 
			FROM DCF_HOST A,DCF_HOST_PROGRAM B,DCF_PROGRAM C ,DCF_HOST_DEPLOY E 
		WHERE A.HOST_ID = B.HOST_ID 
		  AND B.PROGRAM_CODE = C.PROGRAM_CODE 
		  AND E.HOST_ID = A.HOST_ID 
		  AND C.PROGRAM_CODE = #{PROGRAM_CODE} 
		  AND E.CLUSTER_TYPE = #{CLUSTER_TYPE}) D
		ON D.PROGRAM_CODE =P.PROGRAM_CODE 
		AND D.HOST_ID  = P.HOST_ID) U
		WHERE  U.TASK_ID = #{TASK_ID} 
		   AND U.CLUSTER_ID = #{CLUSTER_ID}
    </select> -->
    
    <!--根据进程ID查询对应的程序 -->
    <select id="queryProgramListByTaskID" parameterType="map" resultType="hashMap">
          SELECT B.HOST_IP,B.HOST_ID,A.PROGRAM_CODE,A.ID PROGRAM_ID,A.PROGRAM_NAME,A.RUN_STATE 
			FROM DCF_TASK_PROGRAM A,DCF_HOST B
			WHERE A.HOST_ID = B.HOST_ID AND A.TASK_ID = #{TASK_ID}
           <if test="QUERY_PROGRAM != null and QUERY_PROGRAM != ''">  
               AND (A.PROGRAM_CODE LIKE  CONCAT('%', #{QUERY_PROGRAM}, '%')
               OR A.PROGRAM_NAME LIKE CONCAT('%', #{QUERY_PROGRAM}, '%'))
           </if>
           <if test="QUERY_HOST_IP != null and QUERY_HOST_IP != ''">  
               AND B.HOST_IP = #{QUERY_HOST_IP}
           </if>
    </select>
    
    <!-- 批量新增程序实例 -->
    <insert id="addBatchTaskProgram" parameterType="java.util.List">
    	INSERT INTO DCF_TASK_PROGRAM(ID, CLUSTER_ID, BUS_CLUSTER_ID, PROGRAM_CODE,PROGRAM_NAME,PROGRAM_TYPE,SCRIPT_SH_NAME,
    		CONFIG_FILE,CONFIG_FILE_PATH, HOST_ID, TASK_ID, RUN_STATE, CRT_DATE,PROGRAM_ALIAS,LATN_ID,PROGRAM_DESC)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(NEWID(), #{item.CLUSTER_ID}, #{item.BUS_CLUSTER_ID}, #{item.PROGRAM_CODE},#{item.PROGRAM_NAME}, #{item.PROGRAM_TYPE}, #{item.SCRIPT_SH_NAME},
				#{item.CONFIG_FILE}, #{item.CONFIG_FILE_PATH},#{item.HOST_ID}, #{item.TASK_ID}, 
				#{item.RUN_STATE}, NOW(),#{item.PROGRAM_ALIAS},#{item.LATN_ID},#{item.PROGRAM_DESC})
		</foreach>
    </insert>
    
    <!-- 查询版本所有程序实例 -->
    <select id="queryProgramRunList" parameterType="map" resultType="map">
    	SELECT A.ID, A.CLUSTER_ID,A.PROGRAM_CODE,A.PROGRAM_NAME, A.PROGRAM_TYPE,A.HOST_ID,A.TASK_ID, A.RUN_STATE,
    		G.CLUSTER_ELE_RUN_JSTORM RUN_JSTORM
		FROM DCF_TASK_PROGRAM A 
			 LEFT JOIN DCF_DEPLOY_TASK B ON (A.PROGRAM_TYPE = B.CLUSTER_TYPE) AND B.VERSION = #{VERSION}
			 LEFT JOIN DCF_CLUSTER_ELE_DEFINE G ON (A.PROGRAM_TYPE = G.CLUSTER_ELE_NAME)
		WHERE A.RUN_STATE = #{RUN_STATE}
			  AND A.CLUSTER_ID IN (SELECT CLUSTER_ID FROM DCF_BUS_RELATION_CLUSTER_LIST 
					WHERE BUS_CLUSTER_ID = #{BUS_CLUSTER_ID} 
					  AND CLUSTER_PARENT_TYPE = '3')
		GROUP BY A.ID, A.CLUSTER_ID,A.PROGRAM_CODE,A.PROGRAM_NAME, A.PROGRAM_TYPE,A.HOST_ID,A.TASK_ID, A.RUN_STATE,
    		G.CLUSTER_ELE_RUN_JSTORM
    </select>
    
    <!-- 查询业务实例 -->
    <select id="queryTaskProgramList" parameterType="map" resultType="map">
    	SELECT
			A.ID,A.BUS_CLUSTER_ID ,A.PROGRAM_TYPE, A.PROGRAM_NAME,A.PROGRAM_CODE,
			A.CLUSTER_ID, A.SCRIPT_SH_NAME, A.CONFIG_FILE,
			A.HOST_ID, A.TASK_ID, A.RUN_STATE,
			A.LATN_ID, A.PROGRAM_ALIAS, A.PROGRAM_DESC,
			DATE_FORMAT(A.CRT_DATE,'%Y-%m-%d %H:%i:%s') AS CRT_DATE,
			D.VERSION, E.HOST_NAME, E.HOST_IP,
			CONCAT(E.HOST_IP, '(', E.SSH_USER, ')') HOST_INFO,
			K.NAME,K.PACKAGE_TYPE,
			B.CLUSTER_TYPE, B.CLUSTER_NAME,
			P.CLUSTER_ELE_RUN_JSTORM RUN_JSTORM,
			P.CLUSTER_ELE_PERSONAL_CONF DIFF_IP
		FROM DCF_TASK_PROGRAM A JOIN DCF_CLUSTER_ELE_DEFINE P ON (P.CLUSTER_ELE_NAME = A.PROGRAM_TYPE)
		LEFT JOIN DCF_SERVICE_TYPE B ON A.CLUSTER_ID = B.CLUSTER_ID
		LEFT JOIN DCF_BUS_RELATION_CLUSTER_LIST C ON B.CLUSTER_ID = C.CLUSTER_ID
		LEFT JOIN DCF_DEPLOY_TASK D ON A.TASK_ID = D.TASK_ID
		LEFT JOIN DCF_FTP_FILE_SERVER K ON (D.SERVER_ID = K.ID)
		LEFT JOIN DCF_HOST E ON A.HOST_ID = E.HOST_ID
		WHERE 1=1
		<if test="PROGRAM_TYPE != null and PROGRAM_TYPE != ''">
			AND A.PROGRAM_TYPE = #{PROGRAM_TYPE}
		</if>
		<if test="PROGRAM_NAME != null and PROGRAM_NAME != ''">
			AND A.PROGRAM_NAME LIKE CONCAT('%', #{PROGRAM_NAME}, '%')
		</if>
		<if test="BUS_CLUSTER_ID != null and BUS_CLUSTER_ID != ''">
			AND A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
		</if>
		ORDER BY A.PROGRAM_TYPE, A.PROGRAM_NAME
    </select>
    
    
     <!-- 更新  运行状态-->
    <update id="updateProgramCell" parameterType="hashMap">
    	UPDATE DCF_TASK_PROGRAM
    	<set>
			<if test="PROGRAM_ALIAS_CELL != null and PROGRAM_ALIAS_CELL != ''">
				PROGRAM_ALIAS = #{PROGRAM_ALIAS},
			</if>
			<if test="PROGRAM_DESC_CELL != null and PROGRAM_DESC_CELL != ''">
				PROGRAM_DESC = #{PROGRAM_DESC},
			</if>
			<if test="SCRIPT_SH_NAME_CELL != null and SCRIPT_SH_NAME_CELL != ''">
				SCRIPT_SH_NAME = #{SCRIPT_SH_NAME},
			</if>
		</set>
		WHERE ID = #{ID}
    </update>
    
    
     <!-- 查询序列 -->
    <select id="queryTaskPidIndex" parameterType="map" resultType="map">
    	 SELECT CONCAT('tid-', LPAD(nextvaL('TASK_INDEX'),5,0)) as PID
    </select>

	<!-- 查询业务程序对应的包类型 -->
	<select id="queryProgramPackageType" parameterType="map" resultType="map">
		SELECT A.ID,A.BUS_CLUSTER_ID, A.CLUSTER_ID,A.PROGRAM_CODE, A.PROGRAM_NAME,
		B.VERSION, B.PACKAGE_TYPE,B.NAME,
		D.BUS_CLUSTER_CODE
		FROM DCF_TASK_PROGRAM A, DCF_FTP_FILE_SERVER B, DCF_DEPLOY_TASK C, DCF_BUS_MAIN_CLUSTER D
		WHERE A.TASK_ID = C.TASK_ID
		AND B.ID = C.SERVER_ID
		AND A.BUS_CLUSTER_ID = D.BUS_CLUSTER_ID
		AND A.ID = #{TASK_PROGRAM_ID}
	</select>

	<!-- 查询业务程序配置相关信息 -->
	<select id="queryTaskProgram" parameterType="map" resultType="map">
		SELECT A.ID, A.BUS_CLUSTER_ID, A.CLUSTER_ID, A.PROGRAM_CODE, A.PROGRAM_NAME, A.SCRIPT_SH_NAME,A.CONFIG_FILE,A.TASK_ID,A.RUN_STATE,
		B.BUS_CLUSTER_NAME, B.BUS_CLUSTER_CODE,
		C.CLUSTER_NAME, C.CLUSTER_TYPE,C.CLUSTER_CODE, C.CLUSTER_DEPLOY_PATH,
		D.TASK_CODE, D.TASK_NAME, D.SERVER_ID, D.VERSION,
		E.FILE_NAME,E.PACKAGE_TYPE,E.NAME
		FROM DCF_TASK_PROGRAM A, DCF_BUS_MAIN_CLUSTER B, DCF_SERVICE_TYPE C, DCF_DEPLOY_TASK D,DCF_FTP_FILE_SERVER E
		WHERE A.BUS_CLUSTER_ID = B.BUS_CLUSTER_ID
		AND A.CLUSTER_ID = C.CLUSTER_ID
		AND A.TASK_ID = D.TASK_ID
		AND D.SERVER_ID = E.ID
		AND A.ID = #{TASK_PROGRAM_ID}
	</select>

	<!-- 查询业务程序配置相关信息 -->
	<select id="queryTaskProgramByIdAndRunState" parameterType="map" resultType="map">
		SELECT  A.ID FROM DCF_TASK_PROGRAM A WHERE
		A.CLUSTER_ID=#{CLUSTER_ID}
		<if test="TASK_PROGRAM_ID != null and TASK_PROGRAM_ID != ''">
			AND A.ID=#{TASK_PROGRAM_ID}
		</if>

		AND A.RUN_STATE =1
	</select>


	<!-- 查询当前运行的Topology -->
	<select id="queryRunningTopologyList" parameterType="map" resultType="map">
		SELECT A.ID, A.BUS_CLUSTER_ID, A.CLUSTER_ID, A.PROGRAM_CODE,
		CONCAT(A.PROGRAM_NAME,' (', F.PROGRAM_GROUP, ')') PROGRAM_TEXT,
		A.PROGRAM_NAME, A.PROGRAM_TYPE, A.TASK_ID, A.RUN_STATE,
		B.BUS_CLUSTER_NAME, B.BUS_CLUSTER_CODE,
		C.CLUSTER_CODE, C.CLUSTER_NAME, C.CLUSTER_TYPE, C.CLUSTER_DEPLOY_PATH,
		D.TASK_CODE, D.TASK_NAME, D.VERSION,
		E.CLUSTER_ELE_RUN_JSTORM RUN_JSTORM,
		F.PROGRAM_GROUP
		FROM DCF_TASK_PROGRAM A, DCF_BUS_MAIN_CLUSTER B, DCF_SERVICE_TYPE C,
		DCF_DEPLOY_TASK D, DCF_CLUSTER_ELE_DEFINE E, DCF_PROGRAM_DEFINE F
		WHERE A.BUS_CLUSTER_ID = B.BUS_CLUSTER_ID
		AND A.CLUSTER_ID = C.CLUSTER_ID
		AND A.TASK_ID = D.TASK_ID
		AND A.PROGRAM_TYPE = E.CLUSTER_ELE_NAME
		AND A.PROGRAM_CODE = F.PROGRAM_CODE
		AND E.CLUSTER_ELE_RUN_JSTORM = '1'
		AND F.PROGRAM_GROUP IS NOT NULL
		AND F.PROGRAM_GROUP != ''
		<if test="BUS_CLUSTER_ID != null and BUS_CLUSTER_ID != ''">
			AND A.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
		</if>
		<if test="PROGRAM_GROUP != null and PROGRAM_GROUP != ''">
			AND F.PROGRAM_GROUP = #{PROGRAM_GROUP}
		</if>
		<if test="RUN_STATE != null and RUN_STATE != ''">
			AND A.RUN_STATE = #{RUN_STATE}
		</if>
		<if test="TASK_PROGRAM_ID != null and TASK_PROGRAM_ID != ''">
			AND A.ID != #{TASK_PROGRAM_ID}
		</if>
		ORDER BY F.PROGRAM_GROUP
	</select>

	<!-- 查询运行Toplogy主机节点列表 -->
	<select id="queryRunningTopologyNodeList" parameterType="map" resultType="map">
		SELECT A.ID, A.BUS_CLUSTER_ID, A.CLUSTER_ID, A.PROGRAM_CODE, A.PROGRAM_NAME, A.PROGRAM_TYPE, A.TASK_ID, A.RUN_STATE,
		B.HOST_ID, C.HOST_IP, C.HOST_NAME
		FROM DCF_TASK_PROGRAM A, DCF_HOST_DEPLOY B, DCF_HOST C
		WHERE A.CLUSTER_ID = B.CLUSTER_ID
		AND B.HOST_ID = C.HOST_ID
		AND B.VERSION IS NOT NULL
		<if test="TASK_PROGRAM_ID != null and TASK_PROGRAM_ID != ''">
			AND A.ID = #{TASK_PROGRAM_ID}
		</if>
	</select>


	<!-- 查询业务程序列表 -->
	<select id="queryExtAddBusProgramList" parameterType="map" resultType="map">
		SELECT A.ID, A.CLUSTER_ID, A.PROGRAM_CODE,A.PROGRAM_ALIAS,A.PROGRAM_DESC,A.CONFIG_FILE_PATH, A.PROGRAM_NAME,A.LATN_ID,CONCAT(D.CONFIG_NAME,'(',A.LATN_ID,')') LATN_NAME, A.PROGRAM_TYPE, A.SCRIPT_SH_NAME,
		A.CONFIG_FILE, A.HOST_ID, A.TASK_ID, A.RUN_STATE,
		DATE_FORMAT(A.CRT_DATE,'%Y-%m-%d %H:%i:%s') AS CRT_DATE,
		B.PROGRAM_GROUP,
		C.HOST_IP, C.SSH_USER
		FROM DCF_TASK_PROGRAM A LEFT JOIN DCF_PROGRAM_DEFINE B ON (A.PROGRAM_CODE = B.PROGRAM_CODE)
		LEFT JOIN DCF_HOST C ON (A.HOST_ID = C.HOST_ID)
		LEFT JOIN dcf_group_config D ON (A.LATN_ID = D.CONFIG_VALUE AND D.GROUP_CODE = 'LATN_LIST')
		WHERE A.CLUSTER_ID = #{CLUSTER_ID}
		<if test="ID != null and ID != ''">
			AND A.ID = #{ID}
		</if>
		<if test="QUERY_FLAG != null and QUERY_FLAG != ''">
			AND A.HOST_ID = #{HOST_ID}
			AND A.PROGRAM_CODE = #{PROGRAM_CODE}
			<if test="PROGRAM_ALIAS == null or PROGRAM_ALIAS == ''">
				AND (A.PROGRAM_ALIAS = '' OR A.PROGRAM_ALIAS IS NULL)
			</if>
			<if test="PROGRAM_ALIAS != null and PROGRAM_ALIAS != ''">
				AND A.PROGRAM_ALIAS = #{PROGRAM_ALIAS}
			</if>

			<if test="SCRIPT_SH_NAME == null or SCRIPT_SH_NAME == ''">
				AND (A.SCRIPT_SH_NAME = '' OR A.SCRIPT_SH_NAME IS NULL)
			</if>
			<if test="SCRIPT_SH_NAME != null and SCRIPT_SH_NAME != ''">
				AND A.SCRIPT_SH_NAME = #{SCRIPT_SH_NAME}
			</if>

			<if test="PROGRAM_DESC == null or PROGRAM_DESC == ''">
				AND (A.PROGRAM_DESC = '' OR A.PROGRAM_DESC IS NULL)
			</if>
			<if test="PROGRAM_DESC != null and PROGRAM_DESC != ''">
				AND A.PROGRAM_DESC = #{PROGRAM_DESC}
			</if>

			<if test="LATN_ID == null or LATN_ID == ''">
				AND (A.LATN_ID = '' OR A.LATN_ID IS NULL)
			</if>
			<if test="LATN_ID != null and LATN_ID != ''">
				AND A.LATN_ID = #{LATN_ID}
			</if>
			AND A.TASK_ID != #{TASK_ID}
		</if>
	</select>
</mapper>
