<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 集群元素定义表 -->
<mapper namespace="upgradeHistory">
	<!-- 添加版本升级历史记录 -->
	<insert id="addUpgradHistory" parameterType="map">
		INSERT INTO DCF_UPGRAD_HISTORY_LOG(ID, SOURCE_TASK_PROGRAM_ID, DEST_TASK_PROGRAM_ID, HOST_LIST, CRT_DATE)
		VALUES(NEWID(), #{SOURCE_TASK_PROGRAM_ID}, #{DEST_TASK_PROGRAM_ID}, #{HOST_LIST}, NOW())
	</insert>
	
	<!-- 查询历史升级版本 -->
	<select id="queryUpgradHistoryList"  parameterType="map" resultType="map">
		SELECT A.ID, A.SOURCE_TASK_PROGRAM_ID, A.DEST_TASK_PROGRAM_ID, A.HOST_LIST, DATE_FORMAT(A.CRT_DATE,'%Y-%m-%d %H:%i:%s') CRT_DATE,
			B.PROGRAM_CODE SOURCE_PROGRAM_CODE, B.PROGRAM_NAME SOURCE_PROGRAM_NAME, B.PROGRAM_TYPE SOURCE_PROGRAM_TYPE,
			C.PROGRAM_CODE DEST_PROGRAM_CODE, C.PROGRAM_NAME DEST_PROGRAM_NAME, C.PROGRAM_TYPE DEST_PROGRAM_TYPE
		FROM DCF_UPGRAD_HISTORY_LOG A, DCF_TASK_PROGRAM B, DCF_TASK_PROGRAM C
		WHERE A.SOURCE_TASK_PROGRAM_ID = B.ID 
		  AND A.DEST_TASK_PROGRAM_ID = C.ID
		 <if test="BUS_CLUSTER_ID != null and BUS_CLUSTER_ID != ''">
		 	AND B.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
		 	AND C.BUS_CLUSTER_ID = #{BUS_CLUSTER_ID}
		 </if>
		 ORDER BY A.CRT_DATE DESC
		 
	</select>
</mapper>
